<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_MiniGames"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".son.SonMain"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".son.activities.QuizActivity"
            android:exported="false"
            android:parentActivityName=".son.SonMain" />

        <activity
            android:name=".son.activities.ScoreActivity"
            android:exported="false"
            android:parentActivityName=".son.SonMain" />

        <activity
            android:name=".son.AdminMain"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".son.activities.AdminCategoryActivity"
            android:exported="false"
            android:parentActivityName=".son.AdminMain" />

        <activity
            android:name=".son.activities.AdminQuestionActivity"
            android:exported="false"
            android:parentActivityName=".son.AdminMain" />

        <activity
            android:name=".son.activities.AddEditCategoryActivity"
            android:exported="false"
            android:parentActivityName=".son.activities.AdminCategoryActivity" />

        <activity
            android:name=".son.activities.AddEditQuestionActivity"
            android:exported="false"
            android:parentActivityName=".son.activities.AdminQuestionActivity" />
    </application>

</manifest>